<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>ExpenseFlow | Manager Paneli - @ViewData["Title"]</title>

    <link href="~/template/admin/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700" rel="stylesheet">
    <link href="~/template/admin/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">

    @await RenderSectionAsync("Styles", required: false)

    <style>
        @@keyframes bellShake {
            0%

        {
            transform: rotate(0);
        }

        25% {
            transform: rotate(5deg);
        }

        50% {
            transform: rotate(-5deg);
        }

        75% {
            transform: rotate(5deg);
        }

        100% {
            transform: rotate(0);
        }

        }

        .bell-animate {
            animation: bellShake 1.2s infinite;
        }
    </style>

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Manager" asp-action="Index">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ExpenseFlow</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Genel Bakış</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">Onay İşlemleri</div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="ExpenseApproval" asp-action="Index">
                    <i class="fas fa-fw fa-check-double"></i>
                    <span>Bekleyen Harcamalar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="ExpenseApproval" asp-action="ApprovedExpenses">
                    <i class="fas fa-fw fa-check-circle"></i>
                    <span>Onaylanan Harcamalar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="ExpenseApproval" asp-action="RejectedExpenses">
                    <i class="fas fa-fw fa-times-circle"></i>
                    <span>Reddedilen Harcamalar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="DepartmentExpenses">
                    <i class="fas fa-fw fa-file-invoice-dollar"></i>
                    <span>Departman Harcamaları</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">Raporlar</div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="MonthlyReport">
                    <i class="fas fa-fw fa-chart-line"></i>
                    <span>Aylık Rapor</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Manager" asp-action="CategoryReport">
                    <i class="fas fa-fw fa-chart-pie"></i>
                    <span>Kategori Analizi</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">


                    <ul class="navbar-nav ml-auto">

                        <!-- Bildirim Zili -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            @await Component.InvokeAsync("Notification")
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Kullanıcı Dropdown -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle" src="~/template/admin/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© ExpenseFlow 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/template/admin/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/template/admin/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/template/admin/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/template/admin/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/js/signalR.js"></script>

    <script src="~/js/notification.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
